.catalog-item {
    max-width: 25% !important;
    border-style: solid;
    margin: 1%;
}

.catalog-item:hover {
    cursor: pointer;
}

.catalog-item__text {
    text-align: center;
    font-size: medium;
    border-top: solid;
}