.catalog-item-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.catalog-item-page__container {
    display: flex;
}

.catalog-item-page__metadata > img {
    border-style: solid;
    max-height: 400px !important;
    width: auto;
}

.item-metadata__name {
    text-align: center;
    margin-top: 5%;
}

.catalog-item-page__form {
    display: flex;
    max-height: 25% !important;
    flex-direction: column;
    margin-left: 5%;
}

.catalog-item-page__form__text {
    width: 14em !important;
}

.catalog-item-page__form__dropdown > .ui.selection.dropdown {
    width: 10em !important;
    min-width: 10em !important;
}